body {
     margin: 0;
}

#navbar-main {
    background-color: dodgerblue;
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: space-around;
    /* height: 3rem; */
    width: 100vw;
}

/* .link, .logo {
    flex-grow: 1;
} */

.link:hover {
    cursor: pointer;
}

.link {
    font-size: 1rem;
}

.logo {
    font-size: 2rem;
}

.page-title {
    font-weight: 700;
}

.create-user-box {
    border: 1px solid;
    width: 40vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-user-box > .input-container {
    width: 100%;
}

.input-container {
    display: flex;
    padding: 0.5rem;
}

.input-container > div {
    flex-grow: 1
}

.input-container > input {
    flex-grow: 3;
}

.input-container > select {
    flex-grow: 3;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.user-box {
    border-radius: 1rem;
    border: 1px solid;
    margin: 1rem;
    padding: 1rem;
    width: 25%;
    display:flex;
    flex-direction: column;
    align-items: center;

}
button:hover {
    cursor: pointer;
}
.triangle-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid red;
  }
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu:hover{
    cursor: pointer;

}
@media (max-width: 700px) {
    .create-user-box {
        width:85vw;
    }

    .user-box {
        width: 80%;
    }

    .menu{
        display: flex;
    }
    #menu-items {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 700px) {
    .menu{
        display:none;
    }
    #menu-items {
        display: flex;
        justify-content: space-around;
    }
}